
    <div class="container">
        <div class="row">
            <div class="col" align='center'>
                <br><br><br>
                <h3 style="color: brown;"> 
                    Allô SAMU / Allo veille épidémiologique
                </h3>
                
               <br><br>
                <p>​&nbsp; &nbsp;&nbsp;<img src="../../assets/images/alo.jpg" alt="" style="margin: 5px;">&nbsp;&nbsp;
                <img src="../../assets/images/Affichesallocorona-02.jpg" alt="" style="margin: 5px;"><br></p>
                <h1>​<br>​<br></h1></div>
            
            </div>
        </div>
   