<style>
   
    /* informations essentielles */
    #cinformations .c-images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        color: darkblue;
    }

   h2
    {
    color: darkblue;
        font-size: 4em;
        text-align: center;
    }
    h3{
        color: darkcyan;
    }

  

</style>
<div class="container">
    <div class="row">
        <div class="col">
            <br><br>
<!-- #cpoint-->
<div>
    <i class="fa fa-youtube-play" style="font-size:36px;color:red"></i> COVID-19? 
</div>
<iframe src="https://www.youtube.com/embed/OZcRD9fV7jo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" style="width: 100%; height: 500px;"></iframe>
<div id="cpoint">
  <div class="c-titre">
    <h2>L&#039;origine du virus</h2>      </div>
  <div class="c-texte">
          <strong >Le COVID-19, un nouveau coronavirus</strong><br />
Le virus identifié en janvier 2020 en Chine est un nouveau coronavirus, nommé SARS-CoV-2. La maladie provoquée par ce coronavirus a été nommée COVID-19 par <a href="https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">l’Organisation mondiale de la Santé</a> - OMS. Depuis le 11 mars 2020, l’OMS qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie est désormais mondiale.<br />
<br />
Les coronavirus sont une famille de virus qui provoquent des maladies allant d’un simple rhume (certains virus saisonniers sont des coronavirus) à des pathologies plus sévères (comme les détresses respiratoires du MERS, du SRAS ou du COVID-19).<br />
<br />
Le COVID-19 est dangereux pour les raisons suivantes :
<ul>
	<li><strong>il est très contagieux : </strong>chaque personne infectée va contaminer au moins 3 personnes en l'absence de mesures de protection ;</li>
	<li><strong>une personne contaminée mais qui ne ressent pas encore de symptômes peut contaminer d’autres personnes.</strong></li>
</ul>
    </div>

  <div class="c-links">
      </div>
</div>
<!-- // #cpoint-->

<!-- #cinformations-->
<a id="informations" name="informations"></a>
<div id="cinformations" class="cinfo-block">
  <div class="c-header">
     <h2>Les symptômes</h2>  </div>

  <div class="c-images">
      </div>

    <div class="c-intro">Le COVID-19 peut se manifester par :
<ul>
	<li>la fièvre ou la sensation de fièvre (frissons, chaud-froid) ;</li>
	<li>la toux ;</li>
	<li>des maux de tête, courbatures, une fatigue inhabituelle ;</li>
	<li>une perte brutale de l’odorat (sans obstruction nasale), une disparition totale du goût, ou une diarrhée ;</li>
	<li>dans les formes plus graves :<strong> </strong>difficultés respiratoires pouvant mener jusqu’à une hospitalisation en réanimation voire au décès.</li>
</ul>
 </div>
  <div class="c-paragraphes">
         
<div class="item-paragraphe item-paragraphe-s1498">
  <a name="s1498" id="s1498"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1498" data-picto="">    Comment bien prendre sa température ?  </h3>
  <div class="item-paragraphe-texte">    Prendre sa température corporelle permet de déceler l’apparition de la fièvre. On considère qu’une personne a de la fièvre lorsque sa température est supérieure à 38°C le matin ou 38,3°C le soir (pour les enfants, <a href="https://www.ameli.fr/assure/sante/themes/fievre-enfant" target="_blank">cliquez ici</a>). En général la fièvre n'est pas en elle-même dangereuse.<br />
<br />
On peut prendre la température avec plusieurs types de thermomètres.<br />
<br />
<strong>Thermomètre électronique :</strong>
<ul>
	<li>par le rectum : état de fièvre si la température dépasse 38°C ;</li>
	<li>par la bouche : état de fièvre si la température dépasse 37,5°C ;</li>
	<li>sous l’aisselle : état de fièvre si la température dépasse 37,3°C.</li>
</ul>
<strong>Thermomètre infrarouge :</strong>

<ul>
	<li>par l’oreille : état de fièvre si la température dépasse 38°C ;</li>
	<li>sur la tempe : état de fièvre si la température dépasse 37,8°C.</li>
</ul>
&nbsp;<br />
Attention : la prise de température par voie frontale, avec thermomètres frontaux à cristaux, n’est pas recommandée. Cette méthode manque de précision ; de plus, en cas de fièvre d’origine infectieuse, la température cutanée frontale peut varier en sens inverse de la vraie température.<br />
<br />
Pour plus d’information et de conseils, visitez <a href="https://www.ameli.fr/assure/sante/bons-gestes/petits-soins/prendre-temperature" target="_blank">le site de l’Assurance Maladie</a>.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1499">
  <a name="s1499" id="s1499"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1499" data-picto="">    Délai d’incubation de la maladie  </h3>
  <div class="item-paragraphe-texte">    Le délai d’incubation (période entre la contamination et l’apparition des premiers symptômes) du COVID-19 est <strong>de 3 à 5 jours en général, mais peut s’étendre jusqu’à 14 jours.</strong>  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1500">
  <a name="s1500" id="s1500"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1500" data-picto="">    Catégories de la population les plus touchées  </h3>
  <div class="item-paragraphe-texte">    Le virus touche toutes les classes d'âges, y compris les plus jeunes, chez qui on constate aussi des complications ou des formes graves.<br />
<br />
L’infection n’a pas les mêmes conséquences chez tous les individus. Nos corps, selon notre immunité, notre âge, nos pathologies associées, ne réagissent pas tous de la même manière au virus. Les plus fragiles sont considérées comme “personnes à risques”, et il existe des recommandations spécifiques de prise en charge dans ces situations.<br />
<br />
L'infection au COVID-19 entraîne des décès<strong> </strong><strong>surtout chez les personnes âgées et les plus fragiles, présentant des pathologies pré-existantes :</strong>
<ul>
	<li>les + de 60 ans représentent environ 90% des décès,</li>
	<li>les + de 70 ans représentent environ 80% des décès,</li>
	<li>les + de 80 ans représentent environ 60% des décès.</li>
</ul>
  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1501">
  <a name="s1501" id="s1501"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1501" data-picto="">    Covid-19 et allergies  </h3>
  <div class="item-paragraphe-texte">    Être allergique n’est pas un facteur de risque.
<ul>
	<li>Les symptômes secondaires à des allergies respiratoires peuvent selon les situations ressembler au COVID-19, notamment la toux et les difficultés respiratoires lors des crises d’asthme. Cependant, <strong>on ne trouve ni fièvre, ni courbatures dans les allergies.</strong> Les crises d’asthme sont le plus souvent de courte durée, variables et réversibles, contrairement à l’insuffisance respiratoire liée au COVID-19 qui est de plus longue durée.</li>
	<li><strong>Si vous êtes allergique aux pollens, vous pouvez continuer à prendre vos traitements habituels </strong>(inhalateurs, comprimés). Il n’existe pas de risque associé aux traitements antiallergiques, y compris les corticoïdes qui sont prescrits à faible dose dans le cadre des allergies.</li>
</ul>
En cas de doute sur vos traitements pendant l’épidémie de COVID-19, demandez conseil à votre médecin, ou consultez les sites <a href="https://www.covid19-medicaments.com" target="_blank">https://www.covid19-medicaments.com</a>. ou <a href="https://maladiecoronavirus.fr/" target="_blank">https://maladiecoronavirus.fr/</a>.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1502">
  <a name="s1502" id="s1502"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1502" data-picto="">    Mutation potentielle du virus  </h3>
  <div class="item-paragraphe-texte">    À ce jour, <strong>il n’existe pas d’arguments scientifiques suffisamment robustes en faveur de la circulation de plusieurs souches réellement différentes de COVID-19</strong>, et donc d’une mutation de ce virus. Les travaux de recherche se poursuivent aujourd’hui pour mieux connaître le virus.<br />
<br />
Il est commun pour un virus de muter et la grande majorité des mutations d’un virus sont neutres, voires bénéfiques à l’homme, c’est-à-dire que le virus évolue généralement vers moins de dangerosité.<br />
<br />
Après avoir rencontré un virus, notre organisme développe des défenses immunitaires appelées anticorps, lui permettant de se défendre contre ce virus. Après l’infection au coronavirus, <strong>nous ne savons pas encore bien si ces anticorps sont efficaces ni pour combien de temps. </strong>  </div>
  <div class="items-qr"></div>
</div>
    </div>
</div>


<!-- #cprotection-->
<a id="consignes" name="consignes"></a>
<div id="cprotection" class="cinfo-block">

  <div class="c-header">
    <h2>La transmission</h2>  </div>

    <div class="c-gestes">
      </div>

  <div class="c-texte">
          La maladie se transmet par ce qu’on appelle <strong>les gouttelettes </strong>: il s’agit de sécrétions invisibles qui sont projetées lors d’une discussion, d’éternuements ou en toussant. Les postillons correspondent aux gouttelettes visibles, mais la plupart des gouttelettes ne le sont pas.<br />
<br />
<strong>Un contact étroit avec une personne malade est le principal mode de transmission de la maladie : </strong>notamment lorsqu’on habite ou travaille avec elle, qu’on a un contact direct à moins d’un mètre lors d’une discussion, d’une toux ou d’un éternuement, sans mesures de protection.<br />
<br />
<strong>Le contact avec des mains non lavées ou des surfaces souillées par des gouttelettes est également à risque de contamination.</strong><br />
<br />
<br />
La maladie se transmet :
<ul>
	<li><strong>par projection de gouttelettes </strong>(comme les postillons) contaminées par une personne porteuse : en toussant, éternuant ou en cas de contacts étroits en l’absence de mesures de protection (distance physique, mesures barrières, port du masque). Les gouttelettes contaminées sont inhalées par la personne saine, et déclenchent la maladie</li>
	<li><strong>par contact direct physique</strong> (poignée de main, accolade, bise...) entre une personne porteuse et une personne saine. Le virus est ensuite transmis à la personne saine quand elle porte ses mains à la bouche.</li>
	<li><strong>par contact indirect</strong>, via des objets ou surfaces contaminées par une personne porteuse. Le virus est ensuite transmis à une personne saine qui manipule ces objets, quand elle porte ses mains à la bouche.</li>
</ul>
La meilleure des protections : les mesures barrières et les mesures de distanciation physique.    </div>

    <div class="c-paragraphes">

          
<div class="item-paragraphe item-paragraphe-s1504">
  <a name="s1504" id="s1504"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1504" data-picto="">    Vivre avec un malade sans être contaminé  </h3>
  <div class="item-paragraphe-texte">    Si l’on vit avec un cas COVID-19 à domicile, afin de ne pas être contaminé, il faut respecter scrupuleusement les gestes barrières et les mesures d’isolement disponibles sur <a href="https://solidarites-sante.gouv.fr/IMG/pdf/covid19_fiche_patients-2.pdf" target="_blank">le site du ministère des Solidarités et de la Santé</a> afin de ne pas être contaminé.<br />
<br />
Le respect de ces règles est indispensable car le risque de contamination est important.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1507">
  <a name="s1507" id="s1507"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1507" data-picto="">    Limiter la contagion par la distanciation physique  </h3>
  <div class="item-paragraphe-texte">    Une personne malade peut contaminer un certain nombre de nouvelles personnes : ce nombre correspond au taux de reproduction de base d’une infection, aussi appelé le R0.&nbsp;<br />
&nbsp;<br />
Pour le COVID-19, le R0, en l’absence de mesures de protection, le R0 serait de 3 : <strong>1 malade Covid-19 contaminerait donc en moyenne 3 nouvelles personnes.</strong><br />
<br />
Par conséquent :
<ul>
	<li><strong>Si le R0 est supérieur à 1 : </strong>l’épidémie se poursuit et le nombre de nouveaux cas augmente.</li>
	<li><strong>Si le R0 est inférieur à 1 : </strong>l’épidémie s’atténue et le nombre de nouveaux cas&nbsp; décroît.</li>
</ul>
Pour diminuer le R0, plusieurs solutions existent : respecter scrupuleusement les mesures barrières, la distanciation physique, et les règles fixées par le Gouvernement et les collectivités territoriales dans votre département.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1508">
  <a name="s1508" id="s1508"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1508" data-picto="">    Pas de transmission par l&#039;air  </h3>
  <div class="item-paragraphe-texte">    Pour rappel, le virus se transmet par la projection de postillons ou de gouttelettes (invisibles) contaminées, émises par les individus lors d’une discussion, d’éternuements ou en toussant. <strong>Ce sont donc les individus qui transportent le coronavirus, pas l’air. </strong><br />
<br />
Par projection, les gouttelettes peuvent cependant atteindre une personne à proximité (moins d’1 m) ou se fixer à une surface qui pourra être touchée par d’autres personnes : c’est pour cela qu’il est important de respecter les mesures barrières et les mesures de distanciation physique.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1509">
  <a name="s1509" id="s1509"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1509" data-picto="">    Transmission par les surfaces souillées  </h3>
  <div class="item-paragraphe-texte">    À ce jour, les recherches suggèrent que le virus peut, dans certaines conditions, rester infectieux jusqu’à quelques heures sur une surface contaminée.<strong> </strong>C’est pour cela qu’il est vivement recommandé, par mesure de précaution, de nettoyer les surfaces fréquemment et récemment touchées par des mains potentiellement contaminées <em>(cliquez ici [lien avec le paragraphe suivant qui passera en bloc “adapter son comportement”] pour connaître les conseils de nettoyage des surfaces)</em>.<br />
<br />
Selon les dernières publications scientifiques, <strong>le virus se dégrade après quelques heures sur une surface </strong>et n’est donc plus dangereux : le nettoyage des surfaces n’est donc plus nécessaire.<br />
<br />
Par conséquent :
<ul>
	<li><strong>il n’est pas utile de désinfecter le sol, les murs ou le courrier</strong> car ce sont des surfaces qui passent peu de main en main ;</li>
	<li>quand on touche certaines surfaces fréquemment manipulées par d’autres (boutons de porte ou d’ascenseur, caddies de supermarché),<strong> il faut se laver ou se désinfecter les mains </strong>avant, éviter de se toucher le visage et bien se laver ou désinfecter les mains après ;</li>
	<li>quand on sort, c’est<strong> </strong><strong>le respect des gestes barrières et des mesures de distanciation sociale</strong> qui permet de se protéger efficacement du virus.</li>
</ul>
  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1510">
  <a name="s1510" id="s1510"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1510" data-picto="">    Nettoyage des surfaces potentiellement contaminées  </h3>
  <div class="item-paragraphe-texte">    De l’avis des experts, <strong>la charge virale du virus, c’est-à-dire sa capacité à contaminer, diminue très rapidement dans le milieu extérieur</strong> et, en quelques minutes, celui-ci n’est plus contaminant.<br />
<br />
Selon les dernières publications scientifiques, le virus peut, dans certaines conditions, survivre sous forme de traces plusieurs heures à plusieurs jours sur une surface contaminée par des gouttelettes. Mais il s’agit de matériel génétique, et non pas de virus vivant.&nbsp;<br />
<br />
Par principe de précaution, il peut toutefois être utile de nettoyer les surfaces fréquemment et récemment touchées par les mains d’autres personnes, notamment quand elles sont visiblement souillées.<br />
<br />
Par conséquent :
<ul>
	<li><strong>il n’est pas utile de désinfecter le sol, les murs ou le courrier </strong>car ce sont des surfaces qui passent peu de main en main</li>
	<li>quand on touche certaines surfaces fréquemment manipulées par d’autres (boutons de porte ou d’ascenseur, caddies de supermarché),<strong> il faut avant tout éviter de se toucher le visage et bien se laver les mains </strong>de retour à domicile ;</li>
	<li>quand on sort, c’est <strong>le respect des mesures barrières et des mesures de distanciation sociale</strong> qui permet de se protéger efficacement du virus.</li>
</ul>
  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1511">
  <a name="s1511" id="s1511"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1511" data-picto="">    Pas de transmission par les moustiques  </h3>
  <div class="item-paragraphe-texte">    Il n’existe pas de preuve de transmission du virus ni par les moustiques, ni par aucun autre insecte ou animal.<br />
<br />
Le COVID-19 se transmet entre humains, via les gouttelettes respiratoires.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1512">
  <a name="s1512" id="s1512"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1512" data-picto="">    Pas de contamination par l&#039;eau  </h3>
  <div class="item-paragraphe-texte">    À ce jour, il n’a pas été rapporté de contamination par l’eau.<br />
<br />
Cette maladie se transmet de personne à personne par la voie des gouttelettes (toux, éternuements, mains, objets ou surfaces contaminées par les gouttelettes).  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1513">
  <a name="s1513" id="s1513"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1513" data-picto="">    Rôle de la chaleur sur le virus  </h3>
  <div class="item-paragraphe-texte">    Nous ne savons pas si la hausse des températures avec la venue des beaux jours aura une incidence sur le COVID-19.<br />
<br />
Nous savons en revanche que<strong> la forte chaleur tue efficacement le virus lors du lavage du linge en machine :</strong> il est recommandé de choisir un programme incluant <strong>au moins 30 minutes à 60°C </strong>afin de décontaminer correctement le linge.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1514">
  <a name="s1514" id="s1514"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1514" data-picto="">    Les animaux de compagnie et le virus  </h3>
  <div class="item-paragraphe-texte">    Au vu des connaissances actuelles,<strong> les animaux de compagnie ne transmettent pas le virus COVID-19. </strong>Ce virus se transmet d'homme à homme mais il peut vivre quelques heures sur le pelage d'un animal.<br />
<br />
Pour éviter toute contamination et comme recommandé par l'Agence nationale de sécurité sanitaire de l'alimentation, de l'environnement et du travail (ANSES) :
<ul>
	<li>séparez les animaux des personnes malades ou présumées malades ;</li>
	<li>ne laissez pas l'animal vous lécher le visage ;</li>
	<li>lavez-vous les mains avant et après avoir caressé un animal ;</li>
	<li>ne maltraitez pas votre animal en le nettoyant avec des produits inadaptés : il n'est pas utile de laver un animal qui sort en promenade et l'usage de produits inadaptés (eau de javel...) peut être assimilé à une véritable maltraitance et ferait souffrir votre animal sans aucun bénéfice, ni pour vous ni pour lui.</li>
</ul>
  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1515">
  <a name="s1515" id="s1515"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1515" data-picto="">    Pas de preuve de risque lié aux aliments  </h3>
  <div class="item-paragraphe-texte">    Au vu des informations disponibles à ce jour, <strong>le passage du COVID-19 de l’être humain vers une autre espèce animale semble peu probable</strong>, et l’éventuelle contamination des denrées alimentaires d’origine animale à partir d’un animal infecté par le COVID-19 est exclue.<br />
<br />
La principale recommandation est de continuer à respecter les règles d’hygiène habituelles lors de la manipulation et de la préparation des denrées alimentaires .  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1516">
  <a name="s1516" id="s1516"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1516" data-picto="">    Faire ses courses en respectant les mesures barrières  </h3>
  <div class="item-paragraphe-texte">    <strong>Il n’y a pas de risque à faire ses courses si on respecte les mesures barrières et la distanciation physique.</strong><br />
<br />
Si vous le pouvez, nettoyez également la poignée de votre caddie avec une lingette.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1517">
  <a name="s1517" id="s1517"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1517" data-picto="">    Le courrier postal peut continuer  </h3>
  <div class="item-paragraphe-texte">    <strong>Il n’existe aucun risque de contamination par le courrier ou les colis. </strong>La Poste continue également son travail de distribution du courrier pendant l’épidémie.  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1518">
  <a name="s1518" id="s1518"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1518" data-picto="">    Les effets du confinement sur la situation sanitaire en France  </h3>
  <div class="item-paragraphe-texte">    Selon une <a href="https://www.ehesp.fr/wp-content/uploads/2020/04/Impact-Confinement-EHESP-20200322v1-1.pdf" target="_blank">étude de l’École des hautes études de santé publique</a>, <strong>le confinement aura permis d’éviter au moins 62 000 décès le premier mois.</strong><br />
<br />
Il a permis de faire baisser le taux de circulation du virus et d’éviter l’engorgement des hôpitaux :&nbsp; il aurait fallu plus de 105 000 lits de réanimation, alors que nous n’en comptions que près de 10 000.<br />
<br />
<em>Pour en savoir plus sur les bons réflexes à adopter et sur les idées reçues afin de limiter la transmission (mesures barrières, masques, courses, courrier, nettoyage de son intérieur, alimentation, animaux de compagnie…) : reportez-vous aux rubriques “Lutter ensemble contre le virus” et “Adapter son quotidien”.</em>  </div>
  <div class="items-qr"></div>
</div>
    
<div class="item-paragraphe item-paragraphe-s1519">
  <a name="s1519" id="s1519"></a>
  <h3 class="item-paragraphe-titre c-onglet" data-section="s1519" data-picto="">    Vivre avec une personne guérie du Covid-19 : risques et bonnes pratiques  </h3>
  <div class="item-paragraphe-texte">    En l’état actuel des connaissances, selon le Haut Conseil de la Santé Publique, <strong>les malades guéris peuvent à nouveau rentrer en contact avec d’autres personnes</strong> après la levée de l’isolement strict.<br />
&nbsp;<br />
Voici les critères de levée de l’isolement strict :
<ul>
	<li><strong>il faut attendre au moins 8 jours</strong> (10 jours pour les sujets à risque) après le début des symptômes,</li>
	<li><strong>et 48 heures après la disparition d’éventuelles difficultés respiratoires et de fièvre</strong> (&lt; 37.8 °C, mesurée par 2 mesures rectales dans la journée, sans prise d’antipyrétique/paracétamol).</li>
</ul>
Le risque de contamination est faible avec les personnes présentant ces critères de guérison. Il n’est néanmoins pas totalement exclu : il a été décrit des situations de survie un peu plus longue du virus.<br />
&nbsp;<br />
Avec une personne guérie, comme avec le reste de la population générale, continuez d’appliquer la distanciation physique et les gestes mesures barrières.  </div>
  <div class="items-qr"></div>
</div>
    </div>
</div>
        </div>
    </div>
</div>